@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant:wght@700&display=swap');

body {
    font-family: 'Times New Roman';
}

h1 {
    font-family: 'Agbalumo';
    font-size: 36pt;
}

main,
header {
    max-width: 100%;
}

main {}

.ingredient {
    font-weight: bold;
}

section {
    
}

#burgerselection {
    background-color: black;
    color: white;
    border: 3px dashed white;
    margin: 0px 20px;
    padding: 20px;

}

#customerinformation {
    background-color: white;
    color: black;
    border: 3px dashed black;
    margin: 0px 20px;
    padding: 20px;

}

button {
    margin: 20px;
}

button:hover {
    background-color: rgb(106, 251, 43);
}

#burgerselection ul {
    list-style-type: disc;
    list-style-position: inside;
}

.burger-grid {
    display: grid;
    grid-template-columns: repeat(3, 33%);

}

.burger {
    margin: 10px;

}

header {
    margin: 0px 20px;
    height: 300px;
    overflow: hidden;

}

header img {

    opacity: 0.5;
    width: 100%;
    height: auto
}

header h1 {
    position: absolute;
    padding: 0px;
    margin-top: -500px;
    margin-left: 350px;

}